@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: Gilroy-Light;
  src: url(../src/font/Gilroy-Light.ttf);
}
@font-face {
  font-family: Gilroy-ExtraBold;
  src: url(../src/font/Gilroy-ExtraBold.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../src/font/Gilroy-Bold.ttf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(../src/font/Gilroy-Regular.ttf);
}
@font-face {
  font-family: Gilroy-Medium;
  src: url(../src/font/Gilroy-Medium.ttf);
}
@font-face {
  font-family: Canela-Regular;
  src: url(../src/font/Canela-RegularItalic.otf);
}
@font-face {
  font-family: Canela-Bold;
  src: url(../src/font/Canela-Bold.otf);
}
@font-face {
  font-family: Canela-Black;
  src: url(../src/font/Canela-Black.otf);
}
@font-face {
  font-family: Canela-Light;
  src: url(../src/font/Canela-Light.otf);
}

@font-face {
  font-family: ChicBudapestRegular;
  src: url(../src/font/ChicBudapestRegular.ttf);
}

@font-face {
  font-family: Helvetica;
  src: url(../src/font/Helvetica.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    --gutter: max(1rem, min(1.5625vw, 1.5rem));
    --gutter-lg-half: max(0.75rem, min(1.302vw, 1.5rem));
    --gutter-lg-x-half: var(--gutter-lg-half);
    --gutter-sm-x-half: max(0.2rem, min(0.5208vw, 1rem));
    --gutter-xlg-half: max(1.3rem, min(1.6275vw, 3rem));
    --gutter-sm-half: max(0.5rem, min(0.5208vw, 1rem));
    --gutter-y: var(--gutter);
    --padding: max(2.5rem, min(6.51vw, 6.5rem));
    --padding2: max(1.8rem, min(6.51vw, 3.5rem));
    --container-padding-vertical: var(--padding);
    --container-padding-horizontal: var(--padding);
    --container-padding-vertical3: var(--padding2);
    --container-padding-horizontal3: var(--padding2);
    --container-padding-vertical2: 3rem;
    --container-padding-horizontal2: 1rem;
    --container-medium-max-width: 126rem;
    --gutter-sm: max(0.5rem, min(1.0416vw, 1rem));
    --gutter-sm-y: var(--gutter-sm);
    --gutter-xlg: max(2rem, min(3.255vw, 5rem));
    --gutter-xlg-y: var(--gutter-xlg);
    --grid-gutter-half: 1rem;
    --input-placelabel-bottom: 0.6rem;
    --input-placelabel-top: 2.4rem;
    --container-large-max-width: 85rem;
    --opacity: 0.4;
    --opacity-max: 1;
  }

  .padding-samp4 {
    padding: var(--container-padding-vertical)
      var(--container-padding-horizontal);
  }

  .padding-samp6 {
    padding: var(--container-padding-vertical)
      var(--container-padding-horizontal);
  }

  .padding-samp5 {
    padding: var(--container-padding-vertical3)
      var(--container-padding-horizontal3);
  }

  .padding-samp41 {
    padding: var(--container-padding-vertical2)
      var(--container-padding-horizontal2);
  }

  .page-intro-contact {
    display: flex;
    margin-top: var(--gutter-xlg-y);
    justify-content: space-evenly;
  }

  .eyebrow {
    color: #abacaa;
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 1;
    margin-bottom: var(--gutter-y);
    text-transform: uppercase;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--grid-gutter-half) * -1);
    margin-left: calc(var(--grid-gutter-half) * -1);
  }

  .column-test {
    flex: 0 0 auto;
    width: 50%;
    padding-right: var(--grid-gutter-half);
    padding-left: var(--grid-gutter-half);
  }
  .column-test2 {
    flex: 0 0 auto;
    width: 100%;
    padding-right: var(--grid-gutter-half);
    padding-left: var(--grid-gutter-half);
  }

  .place-label {
    padding-bottom: var(--input-placelabel-bottom);
    padding-top: var(--input-placelabel-bottom);
  }

  .input-design {
    background: #fff;
    border: 2px solid #c6c6c6;
    border-radius: 0.4rem;
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    height: 6.4rem;
    padding: 0.7;
    width: 100%;
  }

  .margin-disclaimer {
    margin: var(--gutter) auto;
    text-align: center;
  }

  .widget-contained {
    padding: var(--container-padding-vertical3)
      var(--container-padding-horizontal3);
  }

  .widget-container2 {
    max-width: var(--container-large-max-width);
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    display: flex;
    flex-direction: row-reverse;
  }

  .title2 {
    display: flex;
    flex-direction: row;
  }

  .title_a {
    flex: 0 0 100%;
    background-color: black;
  }

  .img_a {
    opacity: min(var(--opacity-max), var(--opacity, 0.6));
    object-fit: cover;
    aspect-ratio: 25/9;
  }

  .title_media {
    flex: 0 0 50%;
    position: relative;
    transform: translateX(200%);
    z-index: 2;
    align-items: center;
    display: flex;
    padding: var(--padding);
    background: 0 0;
    text-align: left;
  }

  .h3_title {
    align-items: left;
    margin: 0 0 var(--gutter-sm-y);
    color: #fff;
    font-size: max(2.6rem, min(2.5vw, 3.8rem));
    line-height: 1.3;
  }
  .p_title {
    margin: 0 0 var(--gutter-sm-y);
    color: #fff;
    font-size: max(1.2rem, min(1.2vw, 2.4rem));
    line-height: 1.3;
  }
}
